NUM_OF_HOSTS=2
HOST1=host1_name
HOST1_SSH_KEY=host1/ssh_key_pass
TEST_MSG1="テスト1:host1_nameへのログインが成功することを確認"
EXPECT1="Login succeed."
CMD1=exec_cmd
HOST2=host2_name
HOST2_SSH_KEY=host2/ssh_key_pass
TEST_MSG2="テスト2:host2_nameへのログインが失敗することを確認"
EXPECT2="Login failed."
CMD2=exec_cmd
