NUM_OF_HOSTS=2
HOST1=host1.example.com
HOST1_SSH_KEY=host1/ssh_key_path
TEST_MSG1="テスト1:host1へのログインが成功することを確認"
EXPECTED_RESULT1=0 #success: 0, failure: 1
CMD1=exit
HOST2=host2.example.com
HOST2_SSH_KEY=host2/ssh_key_path
TEST_MSG2="テスト2:host2へのログインが失敗することを確認"
EXPECTED_RESULT2=1
CMD2=exit
